.simple-statistics-modal {
	--modal-width: 400px;
	min-height: 400px;

	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	padding-bottom: 45px;

	user-select: text;
}
