.simple-statistics-modal {
	--modal-width: 400px;
	min-height: 400px;

	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	padding-bottom: 45px;

	user-select: text;
}

.simple-statistics-aligned-parent {
	display: grid;
	grid-template-columns: 1fr 1fr; /* Equal column widths put the gap in the exact center */
	gap: 0.3em;
	padding-right: 45px; /* Shift it left of center by a titch */
}
